{% extends 'product/base.html' %}
{% block title %}سبد خرید{% endblock %}
{% block content %}

<h1>سبد خرید</h1>
<ul>
    {% for item in cart_items %}
        <li>
            {{ item.name }} - {{ item.price }} تومان - تعداد: {{ item.quantity }}
            <form action="{% url 'cart_delete' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <button type="submit">حذف</button>
            </form>
            <form action="{% url 'cart_update' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                <button type="submit">به‌روزرسانی</button>
            </form>
        </li>
    {% endfor %}
</ul>

<h2>مجموع قیمت: {{ total_price }} تومان</h2>

<a href="{% url 'menu' %}">ادامه خرید</a>
{% endblock %}
